<article class="post-detail">
    <header class="post-header">
        <h1 class="post-title" data-i18n="categories">分类</h1>
    </header>

    <div class="content markdown">
        <div class="wiki-categories">
            <% if (site.categories && site.categories.length) { %>
                <% site.categories.forEach(function(cat) { %>
                    <a class="wiki-category-card" href="<%- url_for(cat.path) %>">
                        <div class="wiki-category-name" data-i18n-cat="<%- cat.name %>"><%- cat.name %></div>
                        <div class="wiki-category-desc"><%- cat.length %> <span data-i18n="articles_unit">篇文章</span></div>
                    </a>
                <% }) %>
            <% } %>
        </div>
    </div>
</article>
